**/.DS_Store
**/__pycache__
**.egg-info
**/Pipfile*
.python_packages
.venv
.vscode
temp/*
samples/*
log/*
local_only/*
**.tfvars
**.tfstate
**/state.json
bash_profile
sp_data.json
.idea
**/kspyder-eacloud-conf
**/kspyder-alex-conf
inputs/**
kspyder-local-conf/orchestrator/getECSforDHCPtest.yml
kspyder-local-conf/orchestrator/getDataikuInfo.yml
kspyder-local-conf/orchestrator/getGKEData.yml
kspyder-local-conf/orchestrator/getSAPData.yml
kspyder-local-conf/orchestrator/getPANData.yml
kspyder-local-conf/orchestrator/extractSAPData.yml
kspyder-local-conf/orchestrator/extractPANData.yml
