azure-core
azure-identity
azure-keyvault-secrets
azure-mgmt-resourcegraph
azure-functions
azure-functions-durable
PyMySQL
pyodbc
PyYAML
SQLAlchemy
SQLAlchemy-JSONField
SQLAlchemy-Utils
cython
numpy
pandas
pymongo